<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="false">

	<targets>
		<target xsi:type="File" name="file"
		        fileName="${specialfolder:folder=LocalApplicationData}/OsmoOverlay/logs/app.log"
		        archiveFileName="${specialfolder:folder=LocalApplicationData}/OsmoOverlay/logs/app.{#}.log"
		        archiveAboveSize="5242880"
		        maxArchiveFiles="5"
		        layout="${longdate} [${level:uppercase=true}] ${message}${onexception:${newline}${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
